* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(240, 6%, 21%);
  --bg-color-card: hsl(240, 9%, 89%);
  --bg-color-card-active: hsl(194, 97%, 31%);

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.dark {
  --bg-color: hsl(240, 5%, 7%);
  --text-color: hsl(0, 0%, 100%);
}

html.dark .moon,
html:not(.dark) .sun {
  display: none;
}

.flex {
  display: flex;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  appearance: none;
}

body,
input,
button,
textarea {
  font-size: 1.6rem;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

#app {
  display: grid;
  justify-content: center;
}

button {
  font-size: 6.4rem;
  color: var(--text-color);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#toggle-mode {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 3.2rem;
  color: var(--text-color);
}

#timer {
  font-size: 12.6rem;
  font-weight: 500;
}

#controls {
  margin-top: 1.6rem;
  justify-content: space-between;
}

#controls path {
  fill: var(--text-color);
}

#sounds button {
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
  background-color: var(--bg-color-card);
}

#sounds button.selected {
  background-color: var(--bg-color-card-active);
}

#sounds button.selected path {
  fill: var(--bg-color);
}