* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(240, 6%, 21%);
  --bg-color-card: hsl(240, 9%, 89%);
  --bg-color-card-active: hsl(194, 97%, 31%);

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.dark {
  --bg-color: hsl(240, 5%, 7%);
  --text-color: hsl(0, 0%, 100%);
}

html.dark .moon,
html:not(.dark) .sun {
  display: none;
}

.flex {
  display: flex;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  appearance: none;
}

body,
input,
button,
textarea {
  font-size: 1.6rem;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

#app {
  display: grid;
  justify-content: center;
}

button {
  font-size: 6.4rem;
  color: var(--text-color);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#toggle-mode {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 3.2rem;
  color: var(--text-color);
}

#content {
  width: 82rem;
  align-items: center;
  justify-content: space-between;
}

#time {
  font-size: 12.6rem;
  font-weight: 500;
}

#controls {
  margin-top: 1.6rem;
  justify-content: space-between;
}

#controls button {
  width: 4.8rem;
  height: 4.8rem;
  background-repeat: no-repeat;
}

.play {
  background-image: url(./assets/img/play-dark.svg);
}

.stop {
  background-image: url(./assets/img/stop-dark.svg);
}

.plus {
  background-image: url(./assets/img/plus-dark.svg);
}

.minus {
  background-image: url(./assets/img/minus-dark.svg);
}

html.dark .play {
  background-image: url(./assets/img/play-light.svg);
}

html.dark .stop {
  background-image: url(./assets/img/stop-light.svg);
}

html.dark .plus {
  background-image: url(./assets/img/plus-light.svg);
}

html.dark .minus {
  background-image: url(./assets/img/minus-light.svg);
}

#sounds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

#sounds button {
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color-card);
}

#forest {
  background-image: url(./assets/img/forest-dark.svg);
}

#forest.selected {
  background-image: url(./assets/img/forest-light.svg);
  background-color: #7BC950;
}

#rain {
  background-image: url(./assets/img/rain-dark.svg);
}

#rain.selected {
  background-image: url(./assets/img/rain-light.svg);
  background-color: var(--bg-color-card-active);
}

#coffee-shop {
  background-image: url(./assets/img/coffeeshop-dark.svg);
}

#coffee-shop.selected {
  background-image: url(./assets/img/coffeeshop-light.svg);
  background-color: #EA638C;
}

#fireplace {
  background-image: url(./assets/img/fireplace-dark.svg);
}

#fireplace.selected {
  background-image: url(./assets/img/fireplace-light.svg);
  background-color: #FFAD05;
}